@charset "utf-8";html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,table,strong,th,td,frameset,frame,iframe,span,em,img,acronym,abbr{padding:0;margin:0;border:none}
table{border-collapse:collapse;border-spacing:0}
img{vertical-align:middle}
ol,ul,li{list-style:none}
address,caption,cite,code,dfn,th,var{font-weight:normal;font-style:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
input,select{vertical-align:middle}
input,button{outline:none;border:none}
body,html{background-color:#f3f3f3!important;font-size:12px;line-height:21px;color:#333333;-webkit-user-select:none}
.mui-content{background-color:#f3f3f3!important;}
*{-webkit-tap-highlight-color:transparent}
a,button,input,textarea,input,textarea,select{-webkit-appearance:none}
div,img{-webkit-user-select:none}
a{text-decoration:none;-webkit-touch-callout:none;-webkit-user-select:none}
/*a:active{color:#fff!important}*/
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
img{max-width:100%;display:block;transition:all 0.3s;-webkit-transition:all 0.3s;margin:0 auto}
h1,h2,h3,h4,h5,h6{position:relative;display:inline-block;font-weight:400;/*height:100%*/}
h1{font-size:13.5px!important;color:#fff}
h2{font-size:12.5px!important;color:#333333}
h3{font-size:12.5px!important;color:#626262}
h4{font-size:11.5px!important;color:#919499}
h5{font-size:12.5px!important;color:#ff0000}
.flex{display:-webkit-box;display:-webkit-flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;flex-direction:column;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.pz-content{margin-top:44px;position: relative;}
.pz-icon-l{display:inline-block;width:54px;height:44px;position:absolute;left:0;top:0}
.pz-icon-l span{display:inline-block;height:20px;width:20px;margin-left:15px;margin-top:12px;background-image:url(../img/back_icon.png);background-size:cover;}
.pz-icon-r{display:inline-block;width:54px;height:44px;position:absolute;right:0;top:0}
.pz-icon-r span{display:inline-block;float:right;height:20px;width:20px;margin-right:15px;margin-top:12px;background-size:cover}
.pz-icon-m{display:inline-block;position:absolute;right:0;height:100%;width:20px;}
.pz-icon-m span{display:inline-block;height:20px;width:20px;margin-top:5px;background-image:url(../img/down.jpg);background-size:cover;transition:all .3s;}
.pz-title{position:relative;margin-left:54px;margin-right:54px;font-size:14.5px;color:#fff;height:44px;text-align:center;line-height:44px}
.pz-left{float:left}
.pz-right{float:right}
.pz-header{position:fixed;width:100%;height:44px;top:0;z-index:100;background-color:#03a9f4}
.word-icon{float:right;margin-right:15px;line-height:44px}
.b{font-weight:700}
.pz-mask{width:100%;height:100%;position:fixed;z-index:998;top:0;left:0;background:rgba(0, 0, 0, 0.3);opacity:0;transition:opacity .3s;-webkit-transition:opacity .3s}
.h-center{position:absolute;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%)}
.pz-pic-box{width:58px;height:58px!important;box-sizing:border-box;border-radius:3px;background-size:contain;background-repeat:no-repeat;background-position:center center;border:1px solid #cbcdd0}
.pz-pic-box input{width:100%;height:100%;opacity:0}
.pz-solid-border{border:1px solid #cbcdd0}
.pz-deep-border{border-bottom:1px solid #dedede!important}
.pz-btn{display:block;height:44px;border-radius:22px;background:RGB(126, 206, 244);color:#fff;text-align:center;line-height:44px;font-size:14px;font-weight:700}
.pz-btn.pz-btn-grey{background:RGB(160,160,168)}
.pz-btn-width{margin:0 16.6%}
.pz-toast-wrong,.pz-toast-right{border-radius:5px;box-sizing:border-box;word-break:break-word;box-shadow:0 0 1px 5px rgba(0,0,0,.1);width:230px;position:fixed;top:150px;background:#f3f3f3;line-height:20px;padding:20px 15px;text-align:center;z-index:999;opacity:0;transition:all 0.3s linear;-webkit-transition:all 0.3s linear}
.pz-toast-wrong h2:before,.pz-toast-right h2:before{content:' ';height:20px;display:inline-block;margin-right:5px;margin-top:-1px;float:left;background-size:cover}
.pz-toast-wrong h2:before{width:20px;background-image:url("../img/tip.jpg")}
.pz-toast-right h2:before{width:28px;background-image:url("../img/right.jpg")}
.pz-confirm{border-radius:5px;box-shadow:0 0 1px 5px rgba(0,0,0,.1);text-align:center;position:relative;margin:150px auto 0;width:250px;padding:45px 25px 24px;background:#f3f3f3;opacity:0;transition:0.3s linear;-webkit-transition:0.3s linear}
.pz-confirm .clearfix,.pz-confirm>div[class=pz-btn]{margin-top:25px}
.pz-confirm .pz-btn{height:28px;line-height:28px;border-radius:14px;width:45%;margin:0 auto}
.pz-confirm .clearfix>.sure{float:left}
.pz-confirm .clearfix>.cancel{float:right}
.pz-confirm>div:last-child{width:20px;height:20px;position:absolute;right:5px;top:5px;background-size:cover;background-image:url("../img/del_pop.png")}
.pz-confirm a{display:inline-block;}
.pz-ul>li,.pz--ul>li{position:relative;box-sizing:border-box;height:43px;padding:11px 10px;line-height:20px;border-bottom:1px solid #F5F5F5;background:#fff;overflow:hidden}
.pz-ul>li>*:first-child,.pz--ul>li>*:first-child{height:100%;position:relative;float:left!important}
.pz-ul>li>*:last-child,.pz--ul>li>*:last-child{text-align:right;height:100%;position:relative;float:right}
.pz-ul li.nav,.pz--ul li.nav{padding-right:24px}
.pz-ul li.nav:after,.pz--ul li.nav:after{display:inline-block;position:absolute;content:' ';clear:both;right:8px;top:15px;width:12px;height:12px;background-image:url("../img/forword.png");background-size:cover}
.pz-ul .pz-multi-line{display:table;height:auto;padding:11px 10px;width:100%}
.pz-ul .pz-multi-line>*{display:table-cell;vertical-align:middle}
.pz-ul .pz-multi-line>*:first-child{width:40%;box-sizing:border-box;float:none!important}
.pz-ul .pz-multi-line>*:last-child{position:relative;width:60%;box-sizing:border-box;float:none!important}
.pz-ul .pz-multi-line>*:last-child:after{display:inline-block;position:absolute;content:' ';clear:both;right:-16px;top:50%;margin-top:-6px;width:12px;height:12px;background-image:url("../img/forword.png");background-size:cover}
.pz-ul .pz-multi-line.pz-ul-arrow-hidden>*:last-child:after{display:none!important}
.pz-ul .pz-multi-line.nav:after{display:none}
.pz-li-active{background:rgba(245, 245, 245, .3)}
span.pz-fence{display:block;height:10px;background:#f3f3f3}
.pz-input-txt{width:100%;height:40px;padding:10px 25px 10px 15px;background:#f5f5f5;box-sizing:border-box;border:none;outline:none;font-size:14px;color:#333333}
.pz-numbox{width:75px;height:20px;box-sizing:content-box;border-radius:3px;overflow:hidden;border:1px solid #dadada}
.pz-numbox>*{padding:0 !important;margin:0 !important;width:25px!important;height:20px!important;line-height:18px!important;float:left!important;box-sizing:border-box!important;text-align:center}
.pz-numbox input[type=number]{border-left:1px solid #dadada !important;border-right:1px solid #dadada !important;border-top:none!important;border-bottom:none!important;border-radius:0!important;font-size:12.5px!important}
.pz-numbox button{background:#fff!important;border-radius:0!important;border:none!important}
 ::-webkit-input-placeholder{color:#afbdc3;font-size:12.5px;line-height:20px;text-align:center}
.pz-fadein{animation:fadein 0.3s forwards;-webkit-animation:fadein 0.3s forwards}
.pz-fadeout{animation:fadeout 0.3s forwards;-webkit-animation:fadeout 0.3s forwards}
@keyframes fadein{from{opacity:0}to{opacity:1}}
@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}
@keyframes fadeout{from{opacity:1}to{opacity:0}}
@-webkit-keyframes fadeout{from{opacity:1}to{opacity:0}}
.ided:after,.id:after{display:inline-block;font-size:10px;height:12px;width:33px;background:RGB(248,182,83);text-align:center;line-height:13px!important;color:#fff;border-radius:3px;float:right;margin-left:5px;position:absolute;top:4px}
.id:after{content:'未认证'}
.ided:after{content:'已认证'}
.offical:after{display:inline-block;content:'官方';font-size:10px;height:12px;width:22px;background:RGB(230,0,18);text-align:center;line-height:13px!important;color:#fff;border-radius:3px;float:right;margin-left:5px;position:absolute;top:4px}
.ani{transition:all 0.2s;-webkit-transition:all 0.2s}
.pz-slider{position:relative;width:100%;height:100%;overflow:hidden;box-sizing:border-box}
.pz-slider>div{position:absolute;width:400%;height:100%}
.pz-slide-item{position:relative;float:left;height:100%;width:25%;box-sizing:border-box}
.pz-input-del{display:inline-block;position:absolute;width:20px;height:20px;right:5px;top:12px;background-image:url("../img/del_pop.png");background-size:cover;background-color:#dedede;border-radius:50%;opacity:0;transition:opacity 0.3s;-webkit-transition:opacity 0.3s}
.pz-div-header{position:relative;height:24px;background:#fff;border-bottom:1px solid #F5F5F5}
.pz-div-header span{display:inline-block;height:20px;width:20px;right:10px;top:2px;position:absolute;background-size:cover;background-image:url("../img/del_pop.png")}
.mui-table-view .car-item{border-bottom:1px solid #dedede;box-sizing:border-box;position:relative;padding:12px 8px 0;box-sizing:border-box;}
.mui-table-view .car-item>ul:nth-child(1) li{padding:0 0 11px!important;height:32px!important;border-bottom:0;}
.mui-table-view .car-item>div:nth-of-type(1){position:relative;width:82px;height:82px;float:left;background-size:cover;background-position:center center;}
.mui-table-view .car-item>div:nth-of-type(2){position:relative;margin-left:82px;margin-right:10px;box-sizing:border-box;padding-left:8px}
.mui-table-view .car-item>div:nth-of-type(2)>div:nth-of-type(2) h4{width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.mui-table-view .car-item>div:nth-of-type(2)>div{height:21px}
.mui-table-view .car-item>div:nth-of-type(2)>div span{display:inline-block;font-size:12.5px;color:#7ecef4}
.mui-table-view .car-item>div:nth-of-type(2)>div>*:first-child{float:left!important}
.mui-table-view .car-item>div:nth-of-type(2)>div>*:last-child{float:right}
.mui-table-view .car-item>div:nth-of-type(2):after{content:" ";display:table;clear:both}
.mui-table-view .car-item>div:nth-of-type(2)>div:nth-of-type(3){}
.mui-table-view .car-item>div:nth-of-type(3){height:44px;}
.mui-table-view .car-item>div:nth-of-type(3)>div,.mui-table-view .car-item>div:nth-of-type(3)>a{width:90px;height:30px!important;line-height:30px!important;margin-top:7px;margin-right:10px;float:right}
.mui-table-view .car-item .guan:before,._guan:before{display:inline-block;height:17px;width:17px;content:' ';float:left;margin-right:4px;background-size:cover}
.mui-table-view .car-item .hang:before,._hang:before{display:inline-block;height:17px;width:17px;content:' ';float:left;margin-right:4px;background-size:cover}
.mui-table-view .car-item .guan:before{background-image:url("../img/guan.png")}
.mui-table-view .car-item .hang:before{background-image:url("../img/hang.png")}
.mui-table-view .car-item ._guan:before{background-image:url("../img/_guan.jpg")}
.mui-table-view .car-item ._hang:before{background-image:url("../img/_hang.jpg")}
.mui-table-view .car-item .del{margin-left:11px;float:right}
.mui-table-view .car-item .del:before{display:inline-block;height:17px;width:17px;content:' ';float:left;margin-right:4px;background-image:url("../img/del.jpg");background-size:cover}
.mui-table-view .car-item #lose{display:inline-block;height:14px;width:38px;background:#afbdc3;font-size:10px;line-height:15px;border-radius:5px;text-align:center;color:#fff;float:left;margin-top:3px}
.mui-table-view:after,.mui-table-view:before{height:0!important}
.mui-pull-caption{font-weight: 400!important}
.mui-btn{border: none!important;}
.mui-btn-blue{border: none!important; background-color: RGB(126, 206, 244)!important;}
.mui-checkbox{position:relative;height:20px!important;width:20px!important}
.mui-checkbox input[type=checkbox]{position:absolute !important;top:-1px!important;left:1px;display:inline-block;width:18px !important;height:18px !important;font-size:18px !important;border:0 !important;outline:0!important;background-color:transparent;-webkit-appearance:none}
.mui-checkbox input[type=checkbox]:before{font-size:18px !important;color:#fff}
.mui-checkbox input[type=checkbox]:checked:before{color:#7ecef4}
.mui-checkbox #pz-label{padding-left:0 !important;display:inline-block;float:none;width:auto!important;padding-right:0}
.mui-checkbox #pz-label h3{height:auto}
.mui-radio input[type=radio]:before{font-size:18px !important;content:'\e411' !important}
.mui-radio input[type=radio]:checked:before{content:'\e442' !important}
.lockB{background:#fff!important}
.lockBG li{background:#fff!important}
